.categories {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row;

  .category {
    padding: 10px 20px;
    background-color: #ad5617;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;

    box-sizing: border-box; // Ensure padding and border are included in the width calculation

    &:hover {
      background-color: #005cbb;
    }

    &.active {
      background-color: #ff5200;
      border: 2px solid white;
    }
  }
}

@media (max-width: 600px) {
  .categories {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .category {
    flex: 1 1 calc(50% - 10px); // Ensure only two items per row
  }
}
