
.add-product {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.container {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  background-color: #fff;
}



table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

:host ::ng-deep table thead {
  background-color: #CA5908 !important;
}
:host ::ng-deep table thead .mat-header-cell {
  color: #FFF !important;
}
.w-20 {
  width: 20% !important;
}

mat-header-row, mat-row {
  display: flex;
  justify-content: space-between;
}

th, td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: #333;
  min-width: 50px;
  max-width: 150px;
}

th{
  color: #fff;
}


button {
  margin-right: 8px;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f1f1f1;
}

mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

mat-header-row {
  background-color: #f5f5f5;
  font-weight: bold;
}


mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .table-container {
    max-width: 100%;
    overflow-x: auto;
  }

  th, td {
    padding: 10px;
    font-size: 12px;
  }

  mat-paginator {
    font-size: 12px;
  }
}

