<div class="wrapper">

  <categories-component
   *ngIf="categories && categories.length"
    [categories]="categories"
    [selectedCategory]="selectedCategory"
    (categorySelected)="onCategorySelected($event)">
  </categories-component>


  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>


  <div class="product-list" *ngIf="!loading && paginatedProducts.length" [@listAnimation]>
    <div *ngFor="let product of paginatedProducts" class="product-card">
      <div class="image-wraper">
        <img [src]="product.image" alt="{{ product.title }}" class="product-image" />
    </div>
      <h3>{{ product.title }}</h3>
      <p>{{ product.description | slice: 0:100 }}...</p>
      <span class="price">{{ product.price | currency }}</span>
      <app-rating [rating]="product.rating.rate" [count]="product.rating.count"></app-rating>
    </div>
  </div>


  <app-pagination
  *ngIf="!loading"
    [totalItems]="products.length"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
